body {
  background-color: #001b1b;
}
a {
  text-decoration: none !important;
}
.collatz-head {
  word-break: break-all;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.form-control {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.modal-content {
  text-align: center;
  background-color: #1b1b1b !important;
  border: 1.5px solid slateblue;
}
.modal-body .error-view {
  line-height: 2.5 !important;
}
.modal-footer .close {
  opacity: 1 !important;
  text-shadow: none;
  background-color: #343a40;
  outline: 2px solid #343a40 !important;
  border-radius: 4px;
  font-weight: lighter !important;
  transition: all ease 300ms;
}
.modal-footer .close:hover {
  transform: scale(1.025);
  outline: 2px solid slateblue !important;
}
.modal-header,
.modal-footer {
  border: none;
}

.show-hide-series {
  position: sticky;
  bottom: 1rem;
}

.show-hide-series i{
    transition: all ease 300ms;
}